html {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
body {
    font-family:Helvetica;
    font-weight:100;
    color:#E8E8E8;
    width:100% ;
    height:100%;
    max-height:100%;
    max-width:100%;
    overflow-y:hidden;
    overflow-x:hidden;
    margin:0 auto;
    text-align:center;
} 
div {
    z-index:1;
    position:absolute;
    padding:3em;
    background-color:rgba(0,0,0, 0.85);
    width:80%;
    top:20%;
    right:0;
    left:0;
    margin: auto;
} 
p {
    height:100%;
    margin:0;
    text-align:center;
    font-size:1.75em;
    line-height:1.5
} 
span {
    display:block;
    margin-top:1em;
    color:#999; 
}
#image {
    width:100%;
    position: relative;
    z-index:-1;
}





